<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkMm52YUBTIdHjuaar-XX5-pxKku2rR4g</string>
	<key>GCM_SENDER_ID</key>
	<string>461609174605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.s3rikbaeva.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-e8e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-e8e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461609174605:ios:a3e5b9859c1f9148cb3e04</string>
</dict>
</plist>